/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*
Main color: #ff4800 (orange)
            ##f2f2f4 (light-grey -section)
            #1f1f2e (azul escuro rodapé)
grey-bottom:color: #1f1f2e
            #1f1f2e(h2)

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #343a40;
  font-size: 20px;
}

section {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  flex-wrap: wrap;
}
header .icon {
  color: #ff4800;
  width: 48px;
  height: 48px;
}
header div {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-left: 48px;
}

h1 {
  font-size: 48px;
  color: #ff4800;
}

h2 {
  /* margin-bottom: 48px;*/
  font-size: 36px;
  letter-spacing: -0.5px;
  color: #1f1f2e;
}
h4 {
  color: #ff4800;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 12px;
  overflow: hidden;
}

#navbar li,
#socialMedia-links li {
  margin-left: 8px;
  float: left;
}

button {
  border: none;
}

header button {
  background-color: #ff4800;
  padding: 12px 36px;
  color: white;
  margin-right: 48px;
}

#logistics-services {
  background-color: #1b2125;
  padding: 48px;
  height: 100vh;
}
#logistics-services h2 {
  color: white;
  margin-bottom: 48px;
}
#logistics-services h3 {
  color: #ff4800;
  margin-bottom: 12px;
}

#input-id {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#get-a-quote {
  background-color: #f2f2f4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#request-quote {
  width: 50vw;
}
#request-quote h4,
#request-quote h2,
#request-quote #dados {
  text-align: left;
  margin-bottom: 12px;
}

#request-quote h2 {
  color: #1f1f2e;
}
#quote-text {
  text-align: justify;
}

.numbers {
  font-size: 36px;
  font-weight: bolder;
  color: #ff4800;
}

#dados {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
}

#request-input {
  background-color: #ff4800;
  height: 100vh;
  text-align: center;
}
#request-input form {
  gap: 6px;
  display: flex;
  flex-direction: column;
  padding: 135px 64px;
}

#pricing-plan {
  display: flex;
  flex-direction: column;
}

#cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#cards figure {
  background-color: #f2f2f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricingPackages .price {
  font-size: 44px;
  font-weight: bold;
}

.planType {
  font-size: 24px;
  font-weight: bold;
}

.Signature {
  background-color: #ff4800;
  padding: 24px 96px;
}

.plan-details li {
  margin-bottom: 24px;
}
.plan-details li:last-child {
  margin-bottom: 0px;
}

.btnOrder {
  background-color: #ff4800;
  padding: 16px 0;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 16px 42px;
  margin-bottom: 32px;
}

#teamSection {
  display: flex;
  flex-direction: column;
}

#people {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#people figure {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f4;
  box-shadow: 0 4px #ff4800;
  margin-bottom: 16px;
}

.team-name {
  font-weight: bold;
  font-size: 20px;
  padding: 16px 12px;
}

.team-designation {
  padding-bottom: 16px;
}

#blog {
  display: flex;
  flex-direction: column;
}

.blog-news {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-basis: 25vw;
}
.news {
  display: flex;
  flex-direction: column;
  flex-basis: 25vw;
  background-color: #f2f2f4;
}
.news img {
  width: 400px;
}

.almost-end,
footer {
  background-color: #1f1f2e;
  color: white;
  text-align: left;
}

.almost-end {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 48px 0;
}
.end-title {
  color: #ff4800;
  margin-bottom: 24px;
}
#newsletter {
  display: flex;
  flex-direction: column;
  flex-basis: 400px;
}
form {
  display: flex;
}

#address,
#phone,
#email {
  margin-bottom: 16px;
}

#socialMedia-links {
  display: flex;
  gap: 12px;
  padding: 0;
}

#quick-links ul {
  padding: 0;
  list-style-type: square; /*ajeitar aqui */
}
#quick-links li {
  margin-bottom: 10px;
}

.almost-end .icon {
  stroke: #f2f2f4;
  width: 18px;
  height: 18px;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.orange-footer {
  color: #ff4800;
}
footer p {
  padding-bottom: 8px;
}
footer ul {
  display: flex;
  gap: 8px;
  padding: 0;
  flex-wrap: wrap;
}
#get-in-touch,
footer {
  padding-left: 24px;
}
